<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
    </div>
</nav>
<div class="container">
    <agm-map [latitude]="31.554606099999994" [scrollwheel]="false" [longitude]="74.3571581" [zoom]="z" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let m of markers; let i = index" (dragEnd)="markerDragEnd(m, $event)" (markerClick)="clickedMarker(m,i)" [markerDraggable]="m.draggable" [latitude]="m.lat" [longitude]="m.lng">
            <agm-info-window>
                <strong>{{m.name}}</strong><br>
                <a class="delete" (click)="deleteMarker(m)">Delete</a>
            </agm-info-window>
        </agm-marker>
    </agm-map>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add New Marker</h3>
        </div>
        <div class="panel-body">
            <form (submit)="addMarker()">
                <label>Location Name:</label>
                <input type="text" [(ngModel)]="markerName" name="markerName">
                <label>Latitude:</label>
                <input type="text" [(ngModel)]="markerLat" name="markerLat">
                <label>longitude:</label>
                <input type="text" [(ngModel)]="markerLng" name="markerLng">
                <label>Draggable:</label>
                <select [(ngModel)]="markerDraggable" name="markerDraggable">
                    <option value="no">No</option>
                    <option value="yes">Yes</option>
                </select>
                <input type="submit" value="Map it!">
            </form>
        </div>
    </div>
</div>
<br>
<div class="container searchMap">
    <h1>Angular 2 + Google Maps Places Autocomplete</h1>
    <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search>
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
</div>